.keyboard-holder {
    margin: 30px;
    height: 200px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}

/* How to make keyboard fit together? Fit into Foundation?? */